<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="filing"></ion-icon> Caixa de Entrada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark" *ngFor="let enviosAdm of listaEnviar | async ">
    <ion-card-content>
      <ion-item>
        <ion-list>
          <ion-label><b>Data: {{ enviosAdm.data | date:  'dd/MM/yyyy' }}</b></ion-label>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-label><b>Presado Senhor(a) {{ enviosAdm.nomeDest }}</b></ion-label>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-label><b>Cpf: {{ enviosAdm.cpfDest }}</b></ion-label>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          {{ enviosAdm.mensagem }}
        </ion-list>
      </ion-item>

      <ion-button expand='full' (click)='aut(enviosAdm.key)'> Autorizar </ion-button>

      

    </ion-card-content>
  </ion-card>
</ion-content>
